/** @format */

.about {
  width: 55%;
  height: 100%;
  color: rgba(255, 255, 255, 0.767);
}
.about p {
  line-height: 1.5rem;
}

@media screen and (max-width: 900px) {
  .about {
    width: 78%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 2.2rem;
    overflow: scroll;
    padding-top: 0;
  }
  .about::-webkit-scrollbar {
    display: none;
  }
  .about h1 {
    align-self: flex-start;
    font-size: 18px;
    /* justify-self: flex-start; */
  }
  .about p {
    line-height: 1rem;
  }
}
